/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

:root {
    /* MAIN COLORS */
    --neon-green-color: #54E6AF;
    --soft-grey-color: #2C344B;
    --charcoal-black-color: #121725;
    --white-white-color: #FFF;
    --greyish-blue-color: #5A668A;
    --soft-blue-color: #C2CBE5;

    /* FONTS */
    --title-font-52: 3.25rem;
    --body-font-18: 1.125rem;

    /* FONT WEIGHTS */
    --title-font-weight: 900;
    --body-font-weight: 400;

    /* LINE HEIGHT */
    --title-line-height: 3.875rem;
    --body-line-height: 1.75rem;
}

body {
    min-height: 100vh;
    font-family: 'Chivo', sans-serif;
    font-size: var(--body-font-18);
    font-weight: var(--body-font-weight);
}

img {
    max-width: 100%;
}

.pod-logo {
    display: grid;
    grid-template-areas: 
        "pod-img pod-word";
        grid-template-rows: 3.5rem;
    justify-content: center;
    margin: 3.75rem 7.5rem;
}

.pod-logo__img {
    grid-column: 1;
    grid-row: 1;
}

.pod-logo__word {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.4rem;
    align-self: center;
    margin-left: 4.375rem;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
}

.main-content__heading,
.main-content__desc {
    text-align: center;
}

.main-content__form {
    justify-self: center;
}

.main-content__links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.25rem;
    margin: 0 1.875rem;
}

.main-content__links > li {
    /* width: 3.5rem; */
}